<div class="container-xxl p-0">
    <div class="row mx-0 bg-light-grey">
        <div id="researchCarouselIndicators" class="carousel slide col-12 px-0" data-bs-ride="carousel">
            <div class="overlay text-light">
                <div class="fs-3 fs-sm-2 fs-md-1 lh-sm fw-bold text-outlined">Welcome to <br> Exo-Movement</div>
                <div class="d-none d-sm-block fs-sm-4 fs-md-3 lh-sm text-outlined">Take the next step with us!</div>
            </div>
            <div class="carousel-indicators">
                <li *ngIf="carouselSlideItems.length > 0" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="0" class="active"></li>
                <li *ngIf="carouselSlideItems.length > 1" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="1"></li>
                <li *ngIf="carouselSlideItems.length > 2" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="2"></li>
                <li *ngIf="carouselSlideItems.length > 3" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="3"></li>
                <li *ngIf="carouselSlideItems.length > 4" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="4"></li>
                <li *ngIf="carouselSlideItems.length > 5" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="5"></li>
                <li *ngIf="carouselSlideItems.length > 6" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="6"></li>
                <li *ngIf="carouselSlideItems.length > 7" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="7"></li>
                <li *ngIf="carouselSlideItems.length > 8" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="8"></li>
                <li *ngIf="carouselSlideItems.length > 9" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="9"></li>
                <li *ngIf="carouselSlideItems.length > 10" data-bs-target="#researchCarouselIndicators"
                    data-bs-slide-to="10"></li>
            </div>
            <div class="carousel-inner">
                <ng-container *ngFor="let carousel of carouselSlideItems; let index = index">
                    <div class="carousel-item" [ngClass]="{'active' : index === 0}">
                        <img class="d-block w-100 h-85" src="{{carousel.href}}" alt="{{carousel.altText}}">
                    </div>
                </ng-container>
            </div>
            <a class="carousel-control-prev" href="#researchCarouselIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon w-25 h-25" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#researchCarouselIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon w-25 h-25" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>

        </div>

        <div class="col-auto d-block d-sm-none fs-5 lh-1 text-light text-outlined mx-auto">Take the next step with us!
        </div>
    </div>
    <section name="overview">
        <div class="row mx-0 pt-5 justify-content-center bg-light-grey">
            <hr>
            <h4 class="col-auto fw-bold">Overview</h4>
        </div>
        <ng-container *ngFor="let descriptionItem of descriptions; let i = index">
            <div class="row mx-0 gy-1 py-4 bg-light-grey" [ngClass]="{'flex-row-reverse' : i % 2 === 1}">
                <div class="col-12 d-block d-sm-none">
                    <h5>{{descriptionItem.title}}</h5>
                    <h6 *ngIf="descriptionItem.subtitle" class="fw-normal"><em>{{descriptionItem.subtitle}}</em></h6>
                </div>
                <div class="col-12 col-md-4 col-lg-2 d-none d-md-block">
                    <img class="img-fluid" src="{{descriptionItem.href}}" alt="{{descriptionItem.altText}}">
                </div>
                <div class="col-12 col-md-8 col-lg-10">
                    <span class="d-none d-sm-block">
                        <h5>{{descriptionItem.title}}</h5>
                        <h6 *ngIf="descriptionItem.subtitle" class="fw-normal"><em>{{descriptionItem.subtitle}}</em>
                        </h6>
                    </span>
                    <span class="d-none d-md-block">
                        <p>{{descriptionItem.description}}</p>
                    </span>
                </div>
                <div class="col-12 d-block d-md-none">
                    <p>{{descriptionItem.description}}</p>
                </div>
            </div>

            <div class="row mx-0 px-3">
                <hr class="my-0">
            </div>
        </ng-container>
    </section>
    <section name="team">
        <div class="row mx-0 pt-5 justify-content-center text-bg-secondary">
            <h4 class="col-auto">Team</h4>
        </div>
        <div class="row mx-0 gy-1 gx-0 py-4 text-bg-secondary">
            <div class="col-lg-3">
                <ng-container *ngFor="let member of team">
                    <button class="row mx-0 border border-grey rounded-0 btn btn-secondary w-100 d-none d-lg-flex"
                        [ngClass]="{'bg-grey' : member.index === selectedMember.index}"
                        (click)="onMemberSelected(member)">
                        <div class="col-12 px-0">
                            <div class="ratio ratio-1x1 rounded-circle overflow-hidden p-4 w-25 float-start">
                                <img class="img-fluid" src="{{member.href}}" alt="{{member.altText}}">
                            </div>
                            <span *ngIf="member.index !== selectedMember.index">
                                <div class="fs-5 fw-semibold">{{member.title}}</div>
                                <div *ngIf="member.subtitle" class="fs-6 fw-normal"><em>{{member.subtitle}}</em></div>
                            </span>
                        </div>
                    </button>
                    <div class="row mx-0 border border-grey d-flex d-lg-none py-3">
                        <div class="col-12 d-block d-sm-none">
                            <h4 class="fw-bold">{{member.title}}</h4>
                            <h5 *ngIf="member.subtitle" class="fw-normal"><em>{{member.subtitle}}</em></h5>
                        </div>
                        <div class="col-12 col-sm-4">
                            <img class="w-100" src="{{member.href}}" alt="{{member.altText}}">
                        </div>
                        <div class="col-12 col-sm-8">
                            <span class="d-none d-sm-block">
                                <h4 class="fw-bold">{{member.title}}</h4>
                                <h5 *ngIf="member.subtitle" class="fw-normal"><em>{{member.subtitle}}</em></h5>
                                <hr>
                            </span>
                            <p>{{member.description}}</p>
                        </div>
                    </div>

                </ng-container>
            </div>
            <div class="col-lg-9 d-none d-lg-block text-bg-grey p-3">
                <img class="float-end m-2 w-33" src="{{selectedMember.href}}" alt="{{selectedMember.altText}}">
                <h4 class="fw-bold">{{selectedMember.title}}</h4>
                <h5 *ngIf="selectedMember.subtitle" class="fw-normal"><em>{{selectedMember.subtitle}}</em></h5>
                <hr>
                <p>{{selectedMember.description}}</p>
            </div>
        </div>
    </section>
    <section name="timeline">
        <div class="row mx-0 pt-5 pb-3 justify-content-center bg-light-grey">
            <hr>
            <h4 class="col-auto fw-bold">Timeline</h4>
        </div>
        <div class="row mx-0 justify-content-center pb-1 bg-light-grey">
            <ul class="col-10 col-sm-8 col-lg-6 list-unstyled border-start">
                <ng-container *ngFor="let item of timeline; let i = index">
                    <li class="ps-3 pb-5 position-relative">
                        <span class="list-icon position-absolute text-bg-secondary">
                            <span class="fa-solid {{item.href}}"></span>
                        </span>
                        <div class="fs-4 fw-semibold lh-1">{{item.title}}</div>
                        <h5 *ngIf="item.subtitle" class="fw-normal"><em>{{item.subtitle}}</em></h5>
                        <p *ngIf="item.description">{{item.description}}</p>
                    </li>
                </ng-container>
            </ul>
        </div>
    </section>
</div>