* {
    box-sizing: border-box;
  }
nav{
    font-size: 18px;
    z-index: 1;
}
nav .navbar-nav li a{
    color: #000000 !important;
    display: block;
}


.navbar-brand img {
    object-fit: contain;
}



/*nav .navbar-nav li a:hover{
    color: #8AAAE5 !important;
    text-decoration: underline;
    text-decoration-color: #8AAAE5;
    text-decoration-thickness: 3px;
}*/
