
nav{
    font-size: 18px;
}
ul li a { 
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    list-style: none; 
} 
.navbar-brand img {
    max-width: 100%;
    max-height: 40px;
    object-fit: contain;
}
