<div *ngIf="type === NavBarType.Home">
  <nav class="navbar navbar-expand-md navbar-light exo-background-white fixed-top align-items-start">
    <div class="pl-0 col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
      <a class="navbar-brand" routerLink="/">
        <img src="././assets/navbar/Exo-Logo.png" alt="">
      </a>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <button class="navbar-toggler float-right mt-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse exo-children-font-black exo-children-background-before-accent exo-override-children-font-accent" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/" routerLinkActive="exo-underhover-always exo-override" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Contact" routerLinkActive="exo-underhover-always exo-override" [routerLinkActiveOptions]="{exact: true}">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle exo-underhover" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right exo-children-hoverbackground-lightgrey" aria-labelledby="navbarDropdown">
              <a class="dropdown-item exo-underhover" href="#">Action</a>
              <a class="dropdown-item exo-underhover" href="#">Another action</a>
              <a class="dropdown-item exo-underhover" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="spacer">
  </div>
</div>

<div *ngIf="type === NavBarType.Services">
    <nav>
        <a routerLink="/Home">Home</a>
        <br />
        <a routerLink="/Contact">Contact</a>
        <br />
        <a routerLink="/Shop">Shop</a>
    </nav>
</div>

<div *ngIf="type === NavBarType.Research">
    <nav>
        <a routerLink="/Home">Home</a>
        <br />
        <a routerLink="/Contact">Contact</a>
        <br />
        <a routerLink="/Shop">Shop</a>
    </nav>
</div>
