<nav class="navbar navbar-expand-md navbar-light exo-background-white fixed-top align-items-start">
    
  <a class="navbar-brand" routerLink="/">
    <img src="././assets/navbar/Exo-Logo.png" alt="">
  </a>
  <button class="navbar-toggler float-right mt-1" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   

  <div
    class="collapse navbar-collapse exo-children-font-black exo-children-background-before-accent exo-override-children-font-accent"
    id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li *ngIf="type === NavBarType.Research" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Research" routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Research</a>
        </li>
        <li *ngIf="type === NavBarType.Research" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Research/Our-Projects"
            routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Projects</a>
        </li>
        <li *ngIf="type === NavBarType.Research" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Research/Contact"
            routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
        <li *ngIf="type === NavBarType.Research" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle exo-underhover" href="javascript:void(0)" id="navbarDropdown"
            role="button" routerLink="/Services" aria-expanded="false" data-bs-toggle="dropdown">
            Services
          </a>
          <ul class="dropdown-menu dropdown-menu-end exo-children-hoverbackground-lightgrey dropdown-content" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item exo-underhover" routerLink="/Services/Prototypes">Prototypes</a></li>
            <li><a class="dropdown-item exo-underhover" routerLink="/Services/Shop">Shop</a></li>
          </ul>
        </li>


        <li *ngIf="type === NavBarType.Services" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Services" routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Services</a>
        </li>
        <li *ngIf="type === NavBarType.Services" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Services/Prototypes"
            routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Prototypes</a>
        </li>
        <li *ngIf="type === NavBarType.Services" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Services/Contact"
            routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
        <li *ngIf="type === NavBarType.Services" class="nav-item">
          <a class="nav-link exo-underhover" routerLink="/Services/Shop"
            routerLinkActive="exo-underhover-always exo-override"
            [routerLinkActiveOptions]="{exact: true}">Shop</a>
        </li>
        <li *ngIf="type === NavBarType.Services" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle exo-underhover" href="javascript:void(0)" id="navbarDropdown"
            role="button" routerLink="/Research" aria-expanded="false" data-bs-toggle="dropdown">
            Research
          </a>
          <ul class="dropdown-menu dropdown-menu-end exo-children-hoverbackground-lightgrey dropdown-content" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item exo-underhover" routerLink="/Research/Our-Projects">Projects</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
<div class="spacer">
</div>
