<nav class="navbar navbar-expand-md navbar-white exo-background-white fixed-top align-items-start shadow text-grey">
    
  <a class="navbar-brand" [routerLink]="['', { outlets: { primary: 'Research', navbar: 'Research'}}]">
    <img src="././assets/navbar/Exo-Logo.png" alt="">
  </a>
  <button class="navbar-toggler ms-auto mt-1" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>   

  <div
    class="collapse navbar-collapse exo-children-font-black exo-children-background-before-accent exo-override-children-font-accent"
    id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <ng-container *ngIf="type === NavBarType.Research">
          <li  class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Research" routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">
              Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Research/Our-Projects"
              routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">
              Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Contact"
              routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">
              Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle exo-underhover" href="javascript:void(0)" id="navbarDropdown"
              role="button" aria-expanded="false" data-bs-toggle="dropdown" [routerLink]="['', { outlets: { primary: 'Services', navbar: 'Services'}}]">
              Services
            </a>
            <ul class="dropdown-menu dropdown-menu-end exo-children-hoverbackground-lightgrey dropdown-content" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item exo-underhover" [routerLink]="['', { outlets: { primary: 'Services/Prototypes', navbar: 'Services' }}]">
                Prototypes</a></li>
              <li><a class="dropdown-item exo-underhover" [routerLink]="['', { outlets: { primary: 'Services/Shop', navbar: 'Services' }}]">
                Shop</a></li>
            </ul>
          </li>
        </ng-container>
        
        <ng-container *ngIf="type === NavBarType.Services">
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Services" routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Services/Prototypes"
              routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">Prototypes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Contact"
              routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link exo-underhover" routerLink="/Services/Shop"
              routerLinkActive="exo-underhover-always exo-override"
              [routerLinkActiveOptions]="{exact: true}">Shop</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle exo-underhover" href="javascript:void(0)" id="navbarDropdown"
              role="button" aria-expanded="false" data-bs-toggle="dropdown" [routerLink]="['', { outlets: { primary: 'Research', navbar: 'Research'}}]">
              Research
            </a>
            <ul class="dropdown-menu dropdown-menu-end exo-children-hoverbackground-lightgrey dropdown-content" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item exo-underhover" [routerLink]="['', { outlets: { primary: 'Research/Our-Projects', navbar: 'Research'}}]">
                Projects</a></li>
            </ul>
          </li>
        </ng-container>

      </ul>
  </div>
</nav>
<div class="spacer">
</div>
