<footer class="navbar fixed-bottom exo-background-grey exo-children-font-white exo-children-hoverfont-accent py-2 w-100">
    <div class="container-fluid">
        <div class="row w-100 justify-content-center">
            <div class="col-auto">
                <a [routerLink]="['', { outlets: { primary: 'Research', navbar: 'Research'}}]">Research</a>
            </div>
            <div class="col-auto">
                <a [routerLink]="['', { outlets: { primary: 'Services', navbar: 'Services'}}]">Services</a>
            </div>
            <div class="col-auto">
                <a [routerLink]="['', { outlets: { primary: 'Contact' }}]">Contact</a>
            </div>
            <div class="col-auto">
                <a href="https://www.ebay.com/usr/inexomo0">Shop</a>
            </div>
            <div class="col-auto">
                <a [routerLink]="['', { outlets: { primary: 'Privacy-Policy' }}]">Privacy Policy</a>
            </div>
            <!-- <div class="col-auto">
                <a [routerLink]="['', { outlets: { primary: 'Refund-Return-Policy' }}]">Refund Return Policy</a>
            </div> -->
        </div>
    </div>
</footer>