/* Colors to be used throughout the website */
.exo-font-primary {
  color: #0035E2;
}
.exo-background-primary {
  background-color: #0035E2;
}
.exo-font-accent {
  color: #8AAAE5;
}
.exo-background-accent {
  background-color: #8AAAE5;
}
.exo-font-black {
  color: #000000;
}
.exo-background-black {
  background-color: #000000;
}
.exo-font-grey {
  color: #212121;
}
.exo-background-grey {
  background-color: #212121;
}
.exo-font-white {
  color: #FFFFFF;
}
.exo-background-white {
  background-color: #FFFFFF;
}
.exo-font-lightgrey {
  color: #f9f9f9;
}
.exo-background-lightgrey {
  background-color: #f9f9f9;
}