/* You can add global styles to this file, and also import other style files */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
a, a:visited, a:active {
    color: inherit;
  }
a:hover {
    color: #8AAAE5;
}