<app-navbar
    [type]=NavBarType.Home>
</app-navbar>
    <div class="row" style="height:800px;">
        <div class="exo-background-grey col-md-2">
            Col 1
            <div class="row">
                <div class="exo-background-black col-md-6">
                    Col 2
                </div>
                <div class="exo-background-lightgrey col-md-6">
                    Col 2
                </div>
            </div>
        </div>
        <div class="exo-background-black col-md-2">
            Col 2
        </div>
        <div class="exo-background-lightgrey col-md-2">
            Col 2
        </div>
        <div class="exo-background-white col-md-2">
            Col 2
        </div>
        <div class="exo-background-primary col-md-4">
            Col 2
        </div>
        <div class="exo-background-accent col-md-2">
            Col 2
        </div>
    </div>
    
    <div class="row" style="height:800px;">
        <div class="exo-background-grey col-md-2">
            Col 1
        </div>
        <div class="exo-background-black col-md-2">
            Col 2
        </div>
        <div class="exo-background-lightgrey col-md-2">
            Col 2
        </div>
        <div class="exo-background-white col-md-2">
            Col 2
        </div>
        <div class="exo-background-primary col-md-2">
            Col 2
        </div>
        <div class="exo-background-accent col-md-2">
            Col 2
        </div>
    </div>
<div>contact works!</div>

<app-footer></app-footer>